@use "../util/" as *;

.card {
  background-color: var(--Dark-Blue);
  padding: min(10vh, 4.375rem) min(10vh, 5.625rem);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);

  &__title {
    margin-bottom: 1.3125rem;
  }

  &__number {
    background-color: var(--Black);
    margin-bottom: 1.625rem;
    padding-inline: 0.5rem;
  }
}
